@media only screen and (max-width: 576px) {
    #navbarSmartphone {
      width: 100% !important;
    }
  }

  @media only screen and (max-width: 576px) {
    .mobile_only {
        display: block;
    }
    .desktop_only {
        display: none;
    }
}