@media only screen and (max-width: 576px) {
    #navbarSmartphone {
      width: 100% !important;
    }
  }

  @media only screen and (max-width: 576px) {
    .mobile_only {
        display: block;
    }
    .desktop_only {
        display: none;
    }
}

#rowProfilePattern {
  background-image: url(../img/pngkey.com-email-png-icon-840683.png);
  background-position: center center;
  background-repeat: repeat;
  background-size: 20%;
  
}

.textGreen {
    color: #04f872;
}